* {
  padding: 0%;
  margin: 0%;
}

body {
  background-image: url("https://static.wixstatic.com/media/9134ad_2ba900b2ba5440c1b75abcf5b0a11527~mv2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /*Header*/
  /*Fin Header*/
  /*Main*/
  /*Fin Main*/
  /* Footer */
}
body header {
  width: auto;
  background-color: rgb(172, 14, 14);
  box-shadow: 5px 5px 40px;
}
body header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
body header nav ul li {
  padding: 0 15px;
}
body header nav ul li a {
  font-family: Katana;
  text-shadow: 0.1em 0.1em 0.2em rgb(172, 14, 14);
  color: rgb(240, 181, 34);
  text-decoration: none;
}
body header nav ul li a img {
  width: 80px;
  height: 80px;
}
body header nav ul li:hover {
  background-color: rgb(240, 181, 34);
}
body header nav ul li:hover a {
  color: rgb(172, 14, 14);
}
body header nav ul .Secciones {
  margin-top: 25px;
}
body main .Productos {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}
body main .Productos table tr td {
  background-color: white;
}
body main .Productos table tr td img:hover {
  width: 200px;
}
body main .Productos table .productos-nom {
  text-align: center;
  color: rgb(240, 181, 34);
  font-size: 30px;
  font-family: Katana;
}
body main .Productos table .productos-nom td {
  background-color: rgb(172, 14, 14);
  padding: 10px 0;
}
body main .Productos table .productos-nom td:hover {
  background-color: rgb(240, 181, 34);
  color: rgb(172, 14, 14);
}
body main .card-item {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
body footer {
  height: 75px;
  background-color: rgb(172, 14, 14);
}
body footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body footer ul li {
  list-style: none;
  padding: 0 30px;
}
body footer ul li a #Facebook {
  margin-top: 7px;
  width: 60px;
  height: 60px;
}
body footer ul li a #Instagram {
  margin-top: 7px;
  width: 60px;
  height: 60px;
}
body footer ul li a #Whatsapp {
  margin-top: 9px;
  width: 60px;
  height: 60px;
}

/*Fin - Footer*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  header nav ul li {
    font-family: Katana;
    margin-bottom: 25px;
  }
  header nav ul li a {
    font-size: 5.9px;
  }
  header nav ul li a img {
    margin-top: 25px;
    max-width: 30px;
    max-height: 30px;
  }
  main {
    padding: 0;
  }
  main .Productos .item td img {
    max-width: 55px;
    max-height: 80px;
  }
  main .Productos .productos-nom td {
    font-size: 5px;
    font-family: Katana;
  }
  footer {
    max-height: 75px;
  }
  footer ul li a #Facebook {
    max-width: 40px;
    max-height: 40px;
  }
  footer ul li a #Instagram {
    max-width: 40px;
    max-height: 40px;
  }
  footer ul li a #Whatsapp {
    max-width: 40px;
    max-height: 40px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  header nav ul li {
    margin-bottom: 25px;
  }
  header nav ul li a {
    font-family: Katana;
    font-size: 10px;
  }
  header nav ul li a img {
    margin-top: 15px;
    max-width: 40px;
    max-height: 40px;
  }
  main {
    padding: 0;
  }
  main .Productos .item td img {
    max-width: 80px;
    max-height: 160px;
  }
  main .Productos .productos-nom td {
    font-family: Katana;
    font-size: 10px;
  }
  footer {
    max-height: 75px;
  }
  footer ul li a #Facebook {
    max-width: 50px;
    max-height: 50px;
  }
  footer ul li a #Instagram {
    max-width: 50px;
    max-height: 50px;
  }
  footer ul li a #Whatsapp {
    max-width: 50px;
    max-height: 50px;
  }
}
@media only screen and (min-width: 720px) and (max-width: 1024px) {
  header nav ul li {
    margin-bottom: 5px;
  }
  header nav ul li a {
    font-family: Katana;
    font-size: 15px;
  }
  header nav ul li a img {
    margin-top: 5px;
    max-width: 80px;
    max-height: 80px;
  }
  main {
    padding: 0;
  }
  main .Productos .item td img {
    max-width: 140px;
    max-height: 180px;
  }
  main .Productos .productos-nom td {
    font-family: Katana;
    font-size: 10px;
  }
  footer {
    max-height: 75px;
  }
  footer ul li a #Facebook {
    max-width: 70px;
    max-height: 70px;
  }
  footer ul li a #Instagram {
    max-width: 70px;
    max-height: 70px;
  }
  footer ul li a #Whatsapp {
    max-width: 70px;
    max-height: 70px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1285px) {
  header nav ul li {
    margin-bottom: 5px;
  }
  header nav ul li a {
    font-family: Katana;
    font-size: 15px;
  }
  header nav ul li a img {
    margin-top: 5px;
    max-width: 100px;
    max-height: 100px;
  }
  main {
    padding: 0;
  }
  main .Productos .item td img {
    max-width: 200px;
    max-height: 240px;
  }
  main .Productos .productos-nom td {
    font-family: Katana;
    font-size: 15px;
  }
  footer {
    max-height: 75px;
  }
  footer ul li a #Facebook {
    max-width: 90px;
    max-height: 90px;
  }
  footer ul li a #Instagram {
    max-width: 90px;
    max-height: 90px;
  }
  footer ul li a #Whatsapp {
    max-width: 90px;
    max-height: 90px;
  }
}

/*# sourceMappingURL=Bebidas.css.map */
