*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: Katana;
    src: url(fuentes/Katanf.ttf);
}
@font-face {
    font-family: Creme;
    src: url(fuentes/Creme.ttf);
}
body{
    background-image: url('https://static.wixstatic.com/media/9134ad_2ba900b2ba5440c1b75abcf5b0a11527~mv2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*Header*/
header{
    display: flex;
    background-color: rgb(172, 14, 14);
    border: 3px solid goldenrod;
    box-shadow: 5px 0 10px black;
}
.menu{
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: right;
    border-bottom: 1px; 
}
.Lista{
    display: flex;
    list-style: none;
}
.Lista li{
    margin: 0 5px;
}
.Lista a{
    padding: 7px 13px;
    text-decoration: none;
    color: goldenrod;
    font-size: 18px;
    font-family: Katana;
    display: block;
    padding-top: 50px;
}
.Lista a:hover, a:active{
    color: rgb(172, 14, 14);
    background-color: goldenrod;
    font-size: 23px;
}
.Logo{
    width: 100px;
    height: 100px;
}
/*Fin Header*/
.Productos{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.Productos img:hover{
    width: 200px;
}
.productos-nom {
    text-align: center;
    color: goldenrod;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.productos-nom td{
    background-color: rgb(172, 14, 14);
    padding: 10px 0;
}
.productos-nom td:hover{
    background-color: gold;
    color: rgb(172, 14, 14);
}
.item-img td{
    background-color: white;
}
/*Footer*/
footer{
    display: flex;
    background-color: rgb(172, 14, 14);
    border: 3px solid goldenrod;
    color: goldenrod;
    box-shadow: 5px 0 10px black;
    width: 100%;
    padding-bottom: 50px;
    justify-content: space-between;
}
#Guia{
    padding-top: 100px;
    font-size: 50px;
    font-family: Katana;
}
.Redes li{
    list-style: none;
}
.Redes li a{
    display: flex;
    padding: 15px;
}
.Redes img{
    width: 50px;
    height: 50px;
}
.Logo-inf{
    width: 200px;
    height: 200px;
    padding-top: 50px;
}
.card-item{
    padding: 100px 0;
}
/*Fin Footer*/
@media screen and (max-width: 952px){
    .Logo{
        width: 50px;
        height: 50px;
        padding-top: 10px;
    }
    .Lista li a{
        font-size: 5px;
        justify-content: center;
        padding-top: 25px;
    }
    .Productos img{
        width: 100px;
        height: 100px;
    }
    #Guia{
        font-size: 19px;
        padding-top: 50px;
    }
    .Redes img{
        width: 30px;
        height: 30px;
    }
    .Logo-inf{
    width: 100px;
    height: 100px;
    padding-top: 50px;
    }
    footer{
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 850px){
    .Lista li a{
        font-size: 16px;
    }

}

/*Fin-Smartphone*/