* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Katana;
  src: url(CSS/Fuentes/HIROMISAKE.ttf);
}
body {
  background-image: url(https://c.tenor.com/fZhEeuUufz0AAAAd/landscape-city.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body header {
  background-color: pink;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
}
body header #Logo {
  width: 80px;
  height: 80px;
}
body header nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}
body header nav .toggle {
  width: 40px;
  height: 40px;
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 10px;
  line-height: 30px;
  display: none;
}
body header nav ul {
  display: flex;
  list-style: none;
  margin-right: 40px;
}
body header nav ul li {
  line-height: 80px;
  padding: 0 15px;
  text-transform: uppercase;
  width: max-content;
}
body header nav ul li a {
  font-family: Katana;
  font-size: 20px;
  text-shadow: 0.1em 0.1em #333;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}
body header nav ul li a:hover {
  background-color: white;
  color: pink;
}
body main article {
  padding: 100px 0;
}
body main article .Info {
  background-color: aqua;
  color: white;
  border: 3px solid orange;
}
body main article .Info h4 {
  font-family: Katana;
  text-align: center;
  padding-top: 20px;
  text-shadow: 0.1em 0.1em #333;
}
body main article .Info p {
  font-family: Katana;
  padding-top: 40px;
  text-align: center;
  text-shadow: 0.1em 0.1em #333;
}
body main article .Carrousel {
  padding-top: 100px;
}
body main article .Carrousel .c1l h5 {
  color: black;
}
body main article .Carrousel .c1l p {
  color: black;
}
body main article .Carrousel .c2l h5 {
  color: white;
}
body main article .Carrousel .c2l p {
  color: white;
}
body main article .Carrousel .c3l h5 {
  color: yellow;
}
body main article .Carrousel .c3l p {
  color: yellow;
}

footer {
  background-color: pink;
  color: white;
  display: flex;
  justify-content: space-around;
}
footer p {
  font-family: Katana;
  font-size: 30px;
  text-shadow: 0.1em 0.1em #333;
}
footer ul {
  display: flex;
  flex-direction: row;
}
footer ul li {
  text-shadow: 0.1em 0.1em #333;
  text-align: center;
  list-style: none;
  padding: 0 10px;
}
footer img {
  width: 40px;
  height: 40px;
}

@media (max-width: 1024px) {
  header {
    width: 100%;
  }
  header #Logo {
    width: 60px;
    height: 60px;
  }
  header nav {
    max-width: 1000px;
    margin: 0 auto;
  }
  header nav .toggle {
    width: 40px;
    height: 40px;
  }
  main main article {
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: row;
  }
  main main article .info {
    border: 3px solid orange;
    background-color: aqua;
  }
  main main article .info h4 {
    font-family: Katana;
    text-align: center;
    padding-top: 20px;
  }
  main main article .info p {
    font-family: Katana;
    padding-top: 40px;
    text-align: center;
  }
}
@media (max-width: 820px) {
  header {
    width: 100%;
  }
  header #Logo {
    width: 60px;
    height: 60px;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
  }
  header nav .toggle {
    width: 40px;
    height: 40px;
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 10px;
    line-height: 30px;
    display: none;
  }
  header nav .toggle ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
  }
  header nav .toggle ul li {
    line-height: 80px;
    padding: 0 15px;
    text-transform: uppercase;
    width: max-content;
  }
  header nav .toggle ul li a {
    font-family: Katana;
    font-size: 20px;
    text-shadow: 0.1em 0.1em #333;
    text-decoration: none;
    border-radius: 3px;
  }
}
@media (max-width: 768px) {
  header {
    height: 60px;
  }
  header #Logo {
    width: 60px;
    height: 60px;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    background-color: pink;
    height: 450px;
  }
  header nav ul {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    list-style: none;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
  }
  header nav ul li a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
  }
  main {
    padding-top: 450px;
  }
  footer .Siguenos {
    font-size: 15px;
    padding-left: 100px;
  }
  footer ul li img {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 494px) {
  header {
    height: 60px;
  }
  header #Logo {
    width: 60px;
    height: 60px;
  }
  header nav {
    max-width: 1000px;
    margin: 0 auto;
    background-color: pink;
    height: 450px;
  }
  header nav ul {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  header nav ul li a {
    font-size: 5px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
  }
  main {
    padding-top: 450px;
  }
  footer p {
    font-size: 15px;
  }
  footer .Logo-inf {
    padding-top: 10px;
    width: 15px;
    height: 15px;
  }
  footer .Siguenos {
    font-size: 15px;
    padding-left: 50px;
  }
  footer ul li img {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 375px) {
  header {
    height: 60px;
  }
  header #Logo {
    width: 60px;
    height: 60px;
  }
  header nav {
    max-width: 992px;
    background-color: pink;
    height: 450px;
  }
  header nav ul {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  header nav ul li {
    line-height: 80px;
    padding: 0 10px;
    text-transform: uppercase;
    width: max-content;
  }
  header nav ul li a {
    font-size: 5px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
  }
  main {
    padding-top: 400px;
  }
  main article .info h4 {
    font-size: 5px;
  }
  main article .info p {
    font-size: 5px;
  }
  footer p {
    font-size: 10px;
  }
  footer ul li img {
    width: 12px;
    height: 12px;
  }
}

/*# sourceMappingURL=index.css.map */
