* {
  padding: 0%;
  margin: 0%;
}

@font-face {
  font-family: Katana;
  src: url(CSS/Fuentes/Creme.ttf);
}
body {
  background-image: url(https://wallpapercave.com/wp/wp9628088.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body header {
  width: auto;
  background-color: black;
  box-shadow: 5px 5px 40px;
}
body header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
body header nav ul li {
  padding: 0 15px;
}
body header nav ul li a {
  font-family: Katana;
  text-shadow: 0.1em 0.1em 0.2em black;
  color: gold;
  text-decoration: none;
}
body header nav ul li a img {
  width: 80px;
  height: 80px;
}
body header nav ul li:hover {
  background-color: gold;
}
body header nav ul li:hover a {
  color: black;
}
body header nav ul .Secciones {
  margin-top: 25px;
}
body main .Productos table {
  display: flex;
  justify-content: center;
  text-align: center;
  color: gold;
  padding: 100px 0;
  font-size: 20px;
}
body main .Productos table .item {
  background-color: white;
}
body main .Productos table .item td {
  border: 1px solid black;
}
body main .Productos table .productos-nom td {
  padding: 10px 0;
  background-color: black;
  font-family: Katana;
  text-align: center;
}
body main .Productos table .productos-nom td:hover {
  color: black;
  background-color: gold;
}
body main .card-item {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
body footer {
  background-color: black;
  height: 100px;
}
body footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
body footer ul li {
  display: flex;
  padding: 0 30px;
  margin-top: 25px;
}
body footer ul li a #Facebook {
  width: 45px;
  height: 45px;
}
body footer ul li a #Instagram {
  width: 40px;
  height: 40px;
}
body footer ul li a #Whatsapp {
  width: 40px;
  height: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  header nav ul li {
    margin-bottom: 25px;
  }
  header nav ul li a {
    font-family: Katana;
    font-size: 5.9px;
  }
  header nav ul li a img {
    margin-top: 25px;
    max-width: 30px;
    max-height: 30px;
  }
  main {
    padding: 0;
  }
  main .Productos .item td img {
    max-width: 55px;
    max-height: 80px;
  }
  main .Productos .productos-nom td {
    font-family: Katana;
    font-size: 5px;
  }
  footer {
    max-height: 75px;
  }
  footer ul li a #Facebook {
    max-width: 25px;
    max-height: 25px;
  }
  footer ul li a #Instagram {
    max-width: 25px;
    max-height: 25px;
  }
  footer ul li a #Whatsapp {
    max-width: 25px;
    max-height: 25px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  header nav ul li {
    margin-bottom: 25px;
  }
  header nav ul li a {
    font-family: Katana;
    font-size: 10px;
  }
  header nav ul li a img {
    margin-top: 15px;
    max-width: 40px;
    max-height: 40px;
  }
  main {
    padding: 0;
  }
  main .Productos .item td img {
    max-width: 80px;
    max-height: 160px;
  }
  main .Productos .productos-nom td {
    font-family: Katana;
    font-size: 10px;
  }
  footer {
    max-height: 75px;
  }
  footer ul li a #Facebook {
    max-width: 30px;
    max-height: 30px;
  }
  footer ul li a #Instagram {
    max-width: 30px;
    max-height: 30px;
  }
  footer ul li a #Whatsapp {
    max-width: 30px;
    max-height: 30px;
  }
}
@media only screen and (min-width: 720px) and (max-width: 1024px) {
  header nav ul li {
    margin-bottom: 5px;
  }
  header nav ul li a {
    font-family: Katana;
    font-size: 15px;
  }
  header nav ul li a img {
    margin-top: 5px;
    max-width: 80px;
    max-height: 80px;
  }
  main {
    padding: 0;
  }
  main .Productos .item td img {
    max-width: 140px;
    max-height: 180px;
  }
  main .Productos .productos-nom td {
    font-family: Katana;
    font-size: 10px;
  }
  footer {
    max-height: 75px;
  }
  footer ul li a #Facebook {
    max-width: 35px;
    max-height: 35px;
  }
  footer ul li a #Instagram {
    max-width: 35px;
    max-height: 35px;
  }
  footer ul li a #Whatsapp {
    max-width: 35px;
    max-height: 35px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1285px) {
  header nav ul li {
    margin-bottom: 5px;
  }
  header nav ul li a {
    font-family: Katana;
    font-size: 15px;
  }
  header nav ul li a img {
    margin-top: 5px;
    max-width: 100px;
    max-height: 100px;
  }
  main {
    padding: 0;
  }
  main .Productos .item td img {
    max-width: 200px;
    max-height: 240px;
  }
  main .Productos .productos-nom td {
    font-family: Katana;
    font-size: 15px;
  }
  footer {
    max-height: 75px;
  }
  footer ul li a #Facebook {
    max-width: 40px;
    max-height: 40px;
  }
  footer ul li a #Instagram {
    max-width: 40px;
    max-height: 40px;
  }
  footer ul li a #Whatsapp {
    max-width: 40px;
    max-height: 40px;
  }
}

/*# sourceMappingURL=Ramen.css.map */
