*{
    padding: 0%;
    margin: 0%;
}
$Estilos:(
    Vino: rgb(172, 14, 14),
    Blanco: white,
    Dorado: rgb(240, 181, 34),
);
@mixin Fondo() {
    background-image: url('https://static.wixstatic.com/media/9134ad_2ba900b2ba5440c1b75abcf5b0a11527~mv2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body{
    @include Fondo();
    /*Header*/
header{
    width: auto;
    background-color: map-get($Estilos , Vino);
    box-shadow: 5px 5px 40px;
    nav{
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            li{
                padding: 0 15px;
                a{
                    font-family: Katana;
                    text-shadow: 0.1em 0.1em 0.2em map-get($Estilos , Vino);
                    color: map-get($Estilos , Dorado);
                    text-decoration: none;
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
            li:hover{
                background-color: map-get($Estilos , Dorado);
                    a{
                        color: map-get($Estilos , Vino);
                    }
                }
            .Secciones{
                margin-top: 25px;
                }
            }
        }
    }
/*Fin Header*/
    /*Main*/
main{
    .Productos{
        padding-top: 100px;
        display: flex;
        justify-content: center;
        text-align: center;
        table{
            tr{
                td{
                background-color: map-get($Estilos, Blanco);
                img:hover{
                    width: 200px;
                    }
                }
            }
            .productos-nom {
            text-align: center;
            color: map-get($Estilos, Dorado);
            font-size: 30px;
            font-family: Katana;
            td{
                background-color: map-get($Estilos, Vino);
                padding: 10px 0;
            }
            td:hover{
                background-color: map-get($Estilos, Dorado);
                color: map-get($Estilos, Vino);
            }
        }
    }
}
    .card-item{
        padding-top: 100px;
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
    }
}
/*Fin Main*/
/* Footer */
footer{
    height: 75px;
    background-color:  map-get($Estilos , Vino);
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        li{
            list-style: none;
            padding: 0 30px;
            a{
                #Facebook{
                    margin-top: 7px;
                    width: 60px;
                    height: 60px;
                }
                #Instagram{
                    margin-top: 7px;
                    width: 60px;
                    height: 60px;
                }
                #Whatsapp{
                    margin-top: 9px;
                    width: 60px;
                    height: 60px;
                }
                }
            }
        }
    }
}
/*Fin - Footer*/
@media only screen and (min-width:320px) and (max-width:480px){
    header{
        nav{
            ul{
                li{
                    font-family: Katana;
                    margin-bottom: 25px;
                    a{
                    font-size: 5.9px;
                    img{
                        margin-top: 25px;
                        max-width: 30px;
                        max-height: 30px;
                        }
                    }
                }
            }
        }
    }
    main{
        padding: 0;
        .Productos{
            .item{
                td{
                    img{
                        max-width: 55px;
                        max-height: 80px;
                    }
                }
            }
            .productos-nom{
                td{
                    font-size: 5px;
                    font-family: Katana;
                }
            }
        }
    }
    footer{
        max-height: 75px;
        ul{
            li{
                a{
                    #Facebook{
                        max-width: 40px;
                        max-height: 40px;
                    }
                    #Instagram{
                        max-width: 40px;
                        max-height: 40px;
                    }
                    #Whatsapp{
                        max-width: 40px;
                        max-height: 40px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:480px) and (max-width:720px){
    header{
        nav{
            
            ul{
                li{
                    margin-bottom: 25px;
                    a{
                    font-family: Katana;
                    font-size: 10px;
                    img{
                        margin-top: 15px;
                        max-width: 40px;
                        max-height: 40px;
                        }
                    }
                }
            }
        }
    }
    main{
        padding: 0;
        .Productos{
            .item{
                td{
                    img{
                        max-width: 80px;
                        max-height: 160px;
                    }
                }
            }
            .productos-nom{
                td{
                    font-family: Katana;
                    font-size: 10px;
                }
            }
        }
    }
    footer{
        max-height: 75px;
        ul{
            li{
                a{
                    #Facebook{
                        max-width: 50px;
                        max-height: 50px;
                    }
                    #Instagram{
                        max-width: 50px;
                        max-height: 50px;
                    }
                    #Whatsapp{
                        max-width: 50px;
                        max-height: 50px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:720px) and (max-width:1024px){
    header{
        nav{
            
            ul{
                li{
                    margin-bottom: 5px;
                    a{
                    font-family: Katana;
                    font-size: 15px;
                    img{
                        margin-top: 5px;
                        max-width: 80px;
                        max-height: 80px;
                        }
                    }
                }
            }
        }
    }
    main{
        padding: 0;
        .Productos{
            .item{
                td{
                    img{
                        max-width: 140px;
                        max-height: 180px;
                    }
                }
            }
            .productos-nom{
                td{
                    font-family: Katana;
                    font-size: 10px;
                }
            }
        }
    }
    footer{
        max-height: 75px;
        ul{
            li{
                a{
                    #Facebook{
                        max-width: 70px;
                        max-height: 70px;
                    }
                    #Instagram{
                        max-width: 70px;
                        max-height: 70px;
                    }
                    #Whatsapp{
                        max-width: 70px;
                        max-height: 70px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:1024px) and (max-width:1285px){
    header{
        nav{
            
            ul{
                li{
                    margin-bottom: 5px;
                    a{
                    font-family: Katana;
                    font-size: 15px;
                    img{
                        margin-top: 5px;
                        max-width: 100px;
                        max-height: 100px;
                        }
                    }
                }
            }
        }
    }
    main{
        padding: 0;
        .Productos{
            .item{
                td{
                    img{
                        max-width: 200px;
                        max-height: 240px;
                    }
                }
            }
            .productos-nom{
                td{
                    font-family: Katana;
                    font-size: 15px;
                }
            }
        }
    }
    footer{
        max-height: 75px;
        ul{
            li{
                a{
                    #Facebook{
                        max-width: 90px;
                        max-height: 90px;
                    }
                    #Instagram{
                        max-width: 90px;
                        max-height: 90px;
                    }
                    #Whatsapp{
                        max-width: 90px;
                        max-height: 90px;
                    }
                }
            }
        }
    }
}