*{
    padding: 0;
    margin: 0;
}
$Estilos:(
    Rosado: pink,
    Blanco: white,
    Negro: black,
    Amarillo: yellow,
    Naranja: orange,
    Celeste: aqua,
    Cian: rgb(0, 255, 242),
);
@mixin Fondo() {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@font-face {
    font-family: Katana;
    src: url(CSS/Fuentes/HIROMISAKE.ttf);
}
body{
    background-image: url(https://c.tenor.com/fZhEeuUufz0AAAAd/landscape-city.gif);
    @include Fondo();
header {
    background-color: map-get($Estilos, Rosado);
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    #Logo {
        width: 80px;
        height: 80px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        max-width: 992px;
        margin: 0 auto;
        .toggle{
            width: 40px;
            height: 40px;
            color: map-get($Estilos, Blanco);
            background: none;
            border: none;
            font-size: 30px;
            padding: 0 10px;
            line-height: 30px;
            display: none;
        }
        ul{
            display: flex;
            list-style: none;
            margin-right: 40px;
            li{
                line-height: 80px;
                padding: 0 15px;
                text-transform: uppercase;
                width: max-content;
                a{
                    font-family: Katana;
                    font-size: 20px;
                    text-shadow: 0.1em 0.1em #333;
                    text-decoration: none;
                    color: map-get($Estilos, Blanco);
                    border-radius: 3px;
                }
                a:hover{
                    background-color: map-get($Estilos, Blanco);
                    color: map-get($Estilos, Rosado);
                }
            }
        }
    }
}
main{
    article{
        padding: 100px 0;
        .Info{
            background-color:   map-get($Estilos, Celeste);
            color: map-get($Estilos, Blanco);
            border: 3px solid map-get($Estilos, Naranja);
                h4{
                    font-family: Katana;
                    text-align: center;
                    padding-top: 20px;
                    text-shadow: 0.1em 0.1em #333;
                }
                p{

                    font-family: Katana;
                    padding-top: 40px;
                    text-align: center;
                    text-shadow: 0.1em 0.1em #333;
                }
            }
        .Carrousel{
            padding-top: 100px;      
            .c1l{
                h5{
                    color: map-get($Estilos, Negro);
                }
                p{
                    color: map-get($Estilos, Negro);
                }
            }
            .c2l{
                h5{
                    color: map-get($Estilos, Blanco);
                }
                p{
                    color: map-get($Estilos, Blanco);
                }
            }
            .c3l{
                h5{
                    color: map-get($Estilos, Amarillo);
                }
                p{
                    color: map-get($Estilos, Amarillo);
                }
            }
        }
        
        }
    }
}
footer{
    background-color: map-get($Estilos, Rosado);
    color: map-get($Estilos, Blanco);
    display: flex;
    justify-content: space-around;
    p{
        font-family: Katana;
        font-size: 30px;
        text-shadow: 0.1em 0.1em #333;
    }
    ul{
        display: flex;
        flex-direction: row;
        li{
            text-shadow: 0.1em 0.1em #333;
            text-align: center;
            list-style: none;
            padding: 0 10px;
        }
    }
    img{
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 1024px){
    header{    
        width: 100%;
    #Logo {
            width: 60px;
            height: 60px;
        }
        nav{
            max-width: 1000px;
            margin: 0 auto;
            .toggle{
                width: 40px;
                height: 40px;
            }
        }
    }
    main{
        main{
            article{
                padding-top: 10%;
                padding-bottom: 10%;
                display: flex;
                flex-direction: row;
                .info{
                    border: 3px solid map-get($Estilos, Naranja);
                    background-color: map-get($Estilos, Celeste);
                    h4{
                        font-family: Katana;
                        text-align: center;
                        padding-top: 20px;
                    }
                    p{
                        font-family: Katana;
                        padding-top: 40px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media (max-width: 820px) {
    header{    
        width: 100%;
    #Logo {
            width: 60px;
            height: 60px;
        }
        nav{
            display: flex;
            justify-content: space-between;
            max-width: 1000px;
            margin: 0 auto;
            .toggle{
                width: 40px;
                height: 40px;
                color: map-get($Estilos, Blanco);
                background: none;
                border: none;
                font-size: 30px;
                padding: 0 10px;
                line-height: 30px;
                display: none;
                ul{
                    display: flex;
                    list-style: none;
                    margin-right: 40px;
                    li{
                        line-height: 80px;
                        padding: 0 15px;
                        text-transform: uppercase;
                        width: max-content;
                        a{
                            font-family: Katana;
                            font-size: 20px;
                            text-shadow: 0.1em 0.1em #333;
                            text-decoration: none;
                            color: map-get($Estilos, Dorado);
                            border-radius: 3px;
                        }
                        a:hover{
                            background-color: map-get($Estilos, Dorado);
                            color: map-get($Estilos, Bordo);
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    header {
        height: 60px;
        #Logo {
            width: 60px;
            height: 60px;
        }
        nav{
            display: flex;
            justify-content: space-between;
            max-width: 992px;
            margin: 0 auto;
            background-color: map-get($Estilos, Rosado);
            height: 450px;
            ul{
                padding-top: 20px;
                flex-direction: column;
                align-items: center;
                list-style: none;
                left: 0;
                top: 60px;
                width: 100%;
                padding: 20px 0;
                li{
                    a{
                        font-size: 15px;
                        text-decoration: none;
                        color: map-get($Estilos, Blanco);
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    main{
        padding-top: 450px;
    }
    footer{
        .Siguenos{            
            font-size: 15px;
            padding-left: 100px;
        }
        ul{
            li{
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}
@media (max-width: 494px) {
    header {
        height: 60px;
        #Logo {
            width: 60px;
            height: 60px;
        }
        nav{
            max-width: 1000px;
            margin: 0 auto;
            background-color: map-get($Estilos, Rosado);
            height: 450px;
            ul{
                padding-top: 20px;
                flex-direction: column;
                align-items: center;
                li{
                    a{
                        font-size: 5px;
                        text-decoration: none;
                        color: map-get($Estilos, Blanco);
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    main{
        padding-top: 450px;
    }
    footer{
        p{
            font-size: 15px;
        }
        .Logo-inf{
            padding-top: 10px;
            width: 15px;
            height: 15px;
        }
        .Siguenos{            
            font-size: 15px;
            padding-left: 50px;
        }
        ul{
            li{
                img{
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}
@media (max-width: 375px) {
    header {
        height: 60px;
        #Logo {
            width: 60px;
            height: 60px;
        }
        nav{
            max-width: 992px;
            background-color: map-get($Estilos, Rosado);
            height: 450px;
            ul{
                padding-top: 20px;
                flex-direction: column;
                align-items: center;
                li{
                    line-height: 80px;
                    padding: 0 10px;
                    text-transform: uppercase;
                    width: max-content;
                    a{
                        font-size: 5px;
                        text-decoration: none;
                        color: map-get($Estilos, Blanco);
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    main{
        padding-top: 400px;
        article{
            .info{
                    h4{
                        font-size: 5px;
                    }
                    p{
                        font-size: 5px;
                    }
            }
        }
    }
    footer{
            p{
                font-size: 10px;
            }
            ul{
                li{
                    img{
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }