*{
    padding: 0;
    margin: 0;
}
$Estilos:(
    Rosado: pink,
    Blanco: white,
    Negro: black,
);
@mixin Fondo() {
    background-image: url(https://c.tenor.com/fZhEeuUufz0AAAAd/landscape-city.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@font-face {
    font-family: Katana;
    src: url(CSS/Fuentes/HIROMISAKE.ttf);
}
body {
    @include Fondo();

/*Header*/
header{
    width: auto;
    background-color: map-get($Estilos , Rosado);
    box-shadow: 5px 5px 40px;
    nav{
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            li{
                padding: 0 15px;
                a{
                    font-family: Katana;
                    text-shadow: 0.1em 0.1em 0.2em map-get($Estilos , Negro);
                    color: map-get($Estilos , Blanco);
                    text-decoration: none;
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
            li:hover{
                background-color: map-get($Estilos , Blanco);
                    a{
                        color: map-get($Estilos , Rosado);
                    }
                }
            .Secciones{
                margin-top: 25px;
                }
            }
        }
    }
/*Fin Header*/
/*Main*/
main{
    article{
        .Carrousel{
            padding: 100px 0;
            margin: 0 auto;
            div{
                h5{
                    font-family: Katana;
                    text-shadow: 0.1em 0.1em 0.2em black;
                    color: map-get($Estilos , Blanco);
                }
                p{
                    font-family: Katana;
                    text-shadow: 0.1em 0.1em 0.2em map-get($Estilos , Negro);
                    color: map-get($Estilos , Blanco);
                }
            }
        }
        .Info{
            padding-top: 100px;
            display: flex;
            justify-content: center;
            img{
                width: 50%;
                height: 100%;
            }
        }
    }
}
/*F in - Main*/
/* Footer */
footer{
    height: 75px;
    background-color: map-get($Estilos, Rosado);
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        li{
            list-style: none;
            padding: 0 30px;
            a{
                #Facebook{
                    margin-top: 18px;
                    width: 40px;
                    height: 40px;
                }
                #Instagram{
                    margin-top: 14px;
                    width: 70px;
                    height: 50px;
                }
                #Whatsapp{
                    margin-top: 9px;
                    width: 60px;
                    height: 60px;
                }
                }
            }
        }
    }
}
@media only screen and (min-width:320px) and (max-width:480px){
    header{
        nav{
            
            ul{
                li{
                    margin-bottom: 25px;
                    a{
                    font-size: 5.9px;
                    font-family: Katana;
                    img{
                        margin-top: 25px;
                        max-width: 30px;
                        max-height: 30px;
                        }
                    }
                }
            }
        }
    }
    footer{
        max-height: 75px;
        ul{
            li{
                a{
                    #Facebook{
                        margin-bottom: 10px;
                        max-width: 35px;
                        max-height: 35px;
                    }
                    #Instagram{
                        margin-bottom: 12px;
                        max-width: 60px;
                        max-height: 42px;
                    }
                    #Whatsapp{
                        margin-top: 10px;
                        max-width: 55px;
                        max-height: 55px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:480px) and (max-width:720px){
    header{
        nav{
            padding-bottom: 25px;
            ul{
                li{
                    a{
                    font-family: Katana;
                    font-size: 12px;
                    img{
                        margin-top: 5px;
                        max-width: 60px;
                        max-height: 60px;
                        }
                    }
                }
            }
        }
    }
    footer{
        max-height: 75px;
        ul{
            li{
                a{
                    #Facebook{
                        margin-bottom: 10px;
                        max-width: 40px;
                        max-height: 40px;
                    }
                    #Instagram{
                        max-width: 60px;
                        max-height: 45px;
                    }
                    #Whatsapp{
                        margin-top: 10px;
                        max-width: 55px;
                        max-height: 55px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:720px) and (max-width:1024px){
    header{
        nav{
            ul{
                li{
                    a{
                    font-family: Katana;
                    font-size: 15px;
                    img{
                        max-width: 80px;
                        max-height: 80px;
                        }
                    }
                }
            }
        }
    }
    footer{
        max-height: 75px;
        ul{
            li{
                a{
                    #Facebook{
                        margin-top: 18px;
                        width: 40px;
                        height: 40px;
                    }
                    #Instagram{
                        margin-top: 14px;
                        width: 70px;
                        height: 50px;
                    }
                    #Whatsapp{
                        margin-top: 9px;
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:1024px) and (max-width:1285px){
    header{
        nav{
            ul{
                li{
                    a{
                    font-family: Katana;
                    font-size: 15px;
                    img{
                        max-width: 80px;
                        max-height: 80px;
                        }
                    }
                }
            }
        }
    }
    footer{
        max-height: 75px;
        ul{
            li{
                a{
                    #Facebook{
                        margin-top: 18px;
                        width: 40px;
                        height: 40px;
                    }
                    #Instagram{
                        margin-top: 14px;
                        width: 70px;
                        height: 50px;
                    }
                    #Whatsapp{
                        margin-top: 9px;
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
}