*{
    padding: 0%;
    margin: 0%;
}
$Estilos:(
    Bordo: rgb(105, 8, 8),
    Blanco: white,
    Dorado: gold,
);
@mixin Fondo() {
    background-image: url(https://cutewallpaper.org/25/anime-snack-wallpaper/1000-images-about-anime-food-trending-on-we-heart-it.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body{
    @include Fondo();
    header{
        width: auto;
        background-color: map-get($Estilos , Bordo);
        box-shadow: 5px 5px 40px;
        nav{
            ul{
                list-style: none;
                display: flex;
                flex-direction: row;
                li{
                    padding: 0 15px;
                    a{
                        font-family: Katana;
                        color: map-get($Estilos , Dorado);
                        text-decoration: none;
                        img{
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
                li:hover{
                    background-color: map-get($Estilos , Dorado);
                        a{
                            color: map-get($Estilos , Bordo);
                        }
                    }
                .Secciones{
                    margin-top: 25px;
                    }
                }
            }
        }
    main{
        article{
            .Carrousel{
                padding: 100px 0;
                margin: 0 auto;
                div{
                    h5{
                        font-family: Katana;
                        text-shadow: 0.1em 0.1em 0.2em black;
                        color: map-get($Estilos , Blanco);
                    }
                    p{
                        font-family: Katana;
                        text-shadow: 0.1em 0.1em 0.2em map-get($Estilos , Negro);
                        color: map-get($Estilos , Blanco);
                    }
                }
            }
            .Info{
                padding-top: 100px;
                display: flex;
                justify-content: center;
                img{
                    width: 50%;
                    height: 100%;
                }
            }
        }
    }
    main{
        .Productos {
            padding: 100px 0;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            color: map-get($Estilos, Dorado);
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            img:hover{
                margin: 0 auto;
                width: 200px;
                height: 200px;
                padding: 0 auto;
            }
            .productos-nom{
                text-align: center;
                    td{
                        background-color: map-get($Estilos, Bordo);
                        padding: 10px 0;
                        text-align: center;
                        font-family: Katana;
                    }
                    td:hover{
                        background-color: map-get($Estilos, Dorado);
                        color: map-get($Estilos, Bordo);
                    }
            }
            .item{
                td{
                    background-color: map-get($Estilos, Blanco);
                }
            }
        }
        .card-item{
            display: flex;
            justify-content: center;
            padding-bottom: 100px;
        }
    }
    footer{
        background-color: map-get($Estilos , Bordo);
        height: 100px;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style: none;
            li{
                display: flex;
                padding: 0 30px;
                margin-top: 25px;
                a{
                    #Facebook{
                        width: 45px;
                        height: 45px;
                    }
                    #Instagram{
                        width: 40px;
                        height: 40px;
                    }
                    #Whatsapp{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:320px) and (max-width:480px){
    header{
        nav{
            
            ul{
                li{
                    margin-bottom: 25px;
                    a{
                        font-family: Katana;
                        font-size: 5.9px;
                    img{
                        margin-top: 25px;
                        max-width: 30px;
                        max-height: 30px;
                        }
                    }
                }
            }
        }
    }
    main{
        padding: 0;
        .Productos{
            .item{
                td{
                    img{
                        max-width: 55px;
                        max-height: 80px;
                    }
                }
            }
            .productos-nom{
                td{
                    font-family: Katana;
                    font-size: 5px;
                }
            }
        }
    }
    footer{
        max-height: 75px;
        ul{
            li{
                a{
                    #Facebook{
                        max-width: 25px;
                        max-height: 25px;
                    }
                    #Instagram{
                        max-width: 25px;
                        max-height: 25px;
                    }
                    #Whatsapp{
                        max-width: 25px;
                        max-height: 25px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:480px) and (max-width:720px){
    header{
        nav{
            
            ul{
                li{
                    margin-bottom: 25px;
                    a{
                    font-family: Katana;
                    font-size: 10px;
                    img{
                        margin-top: 15px;
                        max-width: 40px;
                        max-height: 40px;
                        }
                    }
                }
            }
        }
    }
    main{
        padding: 0;
        .Productos{
            .item{
                td{
                    img{
                        max-width: 80px;
                        max-height: 160px;
                    }
                }
            }
            .productos-nom{
                td{
                    font-family: Katana;
                    font-size: 10px;
                }
            }
        }
    }
    footer{
        max-height: 75px;
        ul{
            li{
                a{
                    #Facebook{
                        max-width: 30px;
                        max-height: 30px;
                    }
                    #Instagram{
                        max-width: 30px;
                        max-height: 30px;
                    }
                    #Whatsapp{
                        max-width: 30px;
                        max-height: 30px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:720px) and (max-width:1024px){
    header{
        nav{
            
            ul{
                li{
                    margin-bottom: 5px;
                    a{
                        font-family: Katana;
                        font-size: 15px;
                    img{
                        margin-top: 5px;
                        max-width: 80px;
                        max-height: 80px;
                        }
                    }
                }
            }
        }
    }
    main{
        padding: 0;
        .Productos{
            .item{
                td{
                    img{
                        max-width: 140px;
                        max-height: 180px;
                    }
                }
            }
            .productos-nom{
                td{
                    font-family: Katana;
                    font-size: 10px;
                }
            }
        }
    }
    footer{
        max-height: 75px;
        ul{
            li{
                a{
                    #Facebook{
                        max-width: 35px;
                        max-height: 35px;
                    }
                    #Instagram{
                        max-width: 35px;
                        max-height: 35px;
                    }
                    #Whatsapp{
                        max-width: 35px;
                        max-height: 35px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:1024px) and (max-width:1285px){
    header{
        nav{
            
            ul{
                li{
                    margin-bottom: 5px;
                    a{
                        font-family: Katana;
                        font-size: 15px;
                    img{
                        margin-top: 5px;
                        max-width: 100px;
                        max-height: 100px;
                        }
                    }
                }
            }
        }
    }
    main{
        padding: 0;
        .Productos{
            .item{
                td{
                    img{
                        max-width: 200px;
                        max-height: 240px;
                    }
                }
            }
            .productos-nom{
                td{
                    font-family: Katana;
                    font-size: 15px;
                }
            }
        }
    }
    footer{
        max-height: 75px;
        ul{
            li{
                a{
                    #Facebook{
                        max-width: 40px;
                        max-height: 40px;
                    }
                    #Instagram{
                        max-width: 40px;
                        max-height: 40px;
                    }
                    #Whatsapp{
                        max-width: 40px;
                        max-height: 40px;
                    }
                }
            }
        }
    }
}