*{
    padding: 0%;
    margin: 0%;
}
$Estilos:(
    Bordo: rgb(105, 8, 8),
    Blanco: white,
    Dorado: gold,
);
@mixin Fondo() {
    background-image: url(https://cutewallpaper.org/25/anime-snack-wallpaper/1000-images-about-anime-food-trending-on-we-heart-it.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body{
    @include Fondo();
    header {
        background-color: map-get($Estilos, Bordo);
        width: 100%;
        height: 80px;
        top: 0;
        left: 0;
        #Logo {
            width: 80px;
            height: 80px;
        }
        nav{
            display: flex;
            justify-content: space-between;
            max-width: 992px;
            margin: 0 auto;
            .toggle{
                width: 40px;
                height: 40px;
                color: map-get($Estilos, Blanco);
                background: none;
                border: none;
                font-size: 30px;
                padding: 0 10px;
                line-height: 30px;
                display: none;
            }
            ul{
                display: flex;
                list-style: none;
                margin-right: 40px;
                li{
                    line-height: 80px;
                    padding: 0 15px;
                    text-transform: uppercase;
                    width: max-content;
                    a{
                        font-family: Katana;
                        font-size: 20px;
                        text-shadow: 0.1em 0.1em #333;
                        text-decoration: none;
                        color: map-get($Estilos, Dorado);
                        border-radius: 3px;
                    }
                    a:hover{
                        background-color: map-get($Estilos, Dorado);
                        color: map-get($Estilos, Bordo);
                    }
                }
            }
        }
    }
    main{
        .Productos {
            padding: 100px 0;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            color: map-get($Estilos, Dorado);
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            img:hover{
                margin: 0 auto;
                width: 200px;
                height: 200px;
                padding: 0 auto;
            }
            .productos-nom{
                text-align: center;
                    td{
                        background-color: map-get($Estilos, Bordo);
                        padding: 10px 0;
                        text-align: center;
                        font-family: Katana;
                    }
                    td:hover{
                        background-color: map-get($Estilos, Dorado);
                        color: map-get($Estilos, Bordo);
                    }
            }
            .item{
                td{
                    background-color: map-get($Estilos, Blanco);
                }
            }
        }
        .card-item{
            display: flex;
            justify-content: center;
            padding-bottom: 100px;
        }
    }
    footer{
        background-color: map-get($Estilos, Bordo);
        color: map-get($Estilos, Dorado);
        display: flex;
        justify-content: space-around;
        p{
            font-family: Katana;
            font-size: 30px;
            padding-left: 150px;
        }
        ul{
            display: flex;
            flex-direction: row;
            li{
                text-shadow: 0.1em 0.1em #333;
                text-align: center;
                list-style: none;
                padding: 0 10px;
            }
        }
        img{
            width: 40px;
            height: 40px;
        }
    }
}
@media (max-width: 1024px){
    header{    
        width: 100%;
    #Logo {
            width: 60px;
            height: 60px;
        }
        nav{
            max-width: 1000px;
            margin: 0 auto;
            .toggle{
                width: 40px;
                height: 40px;
            }
        }
    }
    main{
        .item{
            td{
                img{
                    width: 180px;
                    height: 180px;
                }
                img:hover{
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .productos-nom{
            font-size: 15px;
        }
    }
}
@media (max-width: 820px) {
    header{    
        width: 100%;
    #Logo {
            width: 60px;
            height: 60px;
        }
        nav{
            display: flex;
            justify-content: space-between;
            max-width: 1000px;
            margin: 0 auto;
            .toggle{
                width: 40px;
                height: 40px;
                color: map-get($Estilos, Blanco);
                background: none;
                border: none;
                font-size: 30px;
                padding: 0 10px;
                line-height: 30px;
                display: none;
                ul{
                    display: flex;
                    list-style: none;
                    margin-right: 40px;
                    li{
                        line-height: 80px;
                        padding: 0 15px;
                        text-transform: uppercase;
                        width: max-content;
                        a{
                            font-family: Katana;
                            font-size: 20px;
                            text-shadow: 0.1em 0.1em #333;
                            text-decoration: none;
                            color: map-get($Estilos, Dorado);
                            border-radius: 3px;
                        }
                        a:hover{
                            background-color: map-get($Estilos, Dorado);
                            color: map-get($Estilos, Bordo);
                        }
                    }
                }
            }
        }
    }
    main{
        .item{
            td{
                img{
                    width: 180px;
                    height: 180px;
                }
                img:hover{
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .productos-nom{
            font-size: 15px;
        }
    }
}
@media (max-width: 768px) {
    header {
        height: 60px;
        #Logo {
            width: 60px;
            height: 60px;
        }
        nav{
            display: flex;
            justify-content: space-between;
            max-width: 992px;
            margin: 0 auto;
            background-color: map-get($Estilos, Bordo);
            ul{
                padding-top: 20px;
                flex-direction: column;
                align-items: center;
                list-style: none;
                left: 0;
                top: 60px;
                width: 100%;
                padding: 20px 0;
                li{
                    a{
                        font-size: 15px;
                        text-decoration: none;
                        color: map-get($Estilos, Blanco);
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    main{
        padding-top: 400px;
        .item{
            td{
                img{
                    width: 100px;
                    height: 100px;
                }
                img:hover{
                    width: 80px;
                    height: 80px;
                }
            }
        }
        .productos-nom{
            font-size: 10px;
        }
    }
    footer{
        .Siguenos{            
            font-size: 15px;
            padding-left: 100px;
        }
        ul{
            li{
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}
@media (max-width: 494px) {
    header {
        height: 60px;
        #Logo {
            width: 60px;
            height: 60px;
        }
        nav{
            max-width: 1000px;
            margin: 0 auto;
            background-color: map-get($Estilos, Bordo);
            ul{
                padding-top: 20px;
                flex-direction: column;
                align-items: center;
                li{
                    a{
                        font-size: 5px;
                        text-decoration: none;
                        color: map-get($Estilos, Blanco);
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    main{
        padding-top: 400px;
        .item{
            td{
                img{
                    width: 80px;
                    height: 80px;
                }
                img:hover{
                    width: 60px;
                    height: 60px;
                }
            }
        }
        .productos-nom{
            font-size: 10px;
        }
    }
    footer{
        .Logo-inf{
            padding-top: 10px;
            width: 15px;
            height: 15px;
        }
        .Siguenos{            
            font-size: 15px;
            padding-left: 50px;
        }
        ul{
            li{
                img{
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}
@media (max-width: 375px) {
    header {
        height: 60px;
        #Logo {
            width: 60px;
            height: 60px;
        }
        nav{
            max-width: 992px;
            background-color: map-get($Estilos, Bordo);
            ul{
                padding-top: 20px;
                flex-direction: column;
                align-items: center;
                li{
                    line-height: 80px;
                    padding: 0 10px;
                    text-transform: uppercase;
                    width: max-content;
                    a{
                        font-size: 5px;
                        text-decoration: none;
                        color: map-get($Estilos, Blanco);
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    main{
        padding-top: 400px;
        .item{
            td{
                img{
                    width: 60px;
                    height: 60px;
                }
                img:hover{
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .productos-nom{
            font-size: 5px;
        }
    }
    footer{
        .Logo-inf{

            width: 12px;
            height: 12px;
        }
        .Siguenos{            
            font-size: 10px;
            padding-left: 50px;
        }
        ul{
            li{
                img{
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}